.navbar {
	background-color: #464545;
}

.navbar-brand img {
	width: 50px;
	height: 50px;
	object-fit: contain;
}

.navbar .navbar-collapse .dropdown-toggle {
	font-weight: bold;
	font-size: 1.2rem;
}

.navbar .navbar-collapse .dropdown-menu a {
	font-size: 1.2rem;
}

.dropdown-toggle::after {
	display: none;
}

.user--dropdown li {
	width: 100%;
}

.user--dropdown li:not(:last-child) {
	margin-bottom: 6px;
}

.user--dropdown a {
	color: black;
	font-size: 1.3rem;
}

.user--dropdown li + li a:hover {
	color: blue;
}

.user--dropdown a i {
	padding-right: 5px;
}
